* {
  margin: 0px;
  padding: 0px;
}

.lkdin-logo {
  width: 100px;
  height: 40px;
  margin: 20px 0px 0px 20px;
}

.sign-in {
  margin: 0px auto;
  width: 350px;
  height: 500px;
  box-shadow: 10px 10px 10px 10px #eee;
}
